<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hw9_csci571">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BackLoadingActivity"></activity>
        <activity android:name=".LoadingScreenActivity2" />
        <activity android:name=".LoadingScreenActivity" />
        <activity android:name=".ScrollMainActivity" />
        <activity
            android:name=".SearchDetail"
            android:parentActivityName=".SearchCityActivity" />
        <activity
            android:name=".SearchCityActivity" />
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>